<%= form_for @cat, url: cats_path do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :age %>
<%= f.text_field :age %>

<%= f.label :sex %>
<%= f.text_field :sex %>

<input type="hidden" name="cat[user_id]" value="<%=
  User.find_by_token(session[:token]).id
%>">

<input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

<label for="cat_birth_date">Birth Date</label>
<input type="date" name="cat[birth_date]" id="cat_birth_date">

<%= f.label :color %>
<%= f.select :color, options_for_select([ ["Infrared", "Infrared"], ["Red", "Red"], ["Orange", "Orange"], ["Yellow", "Yellow"], ["Green", "Green"], ["Blue", "Blue"], ["Indigo", "Indigo"], ["Violet", "Violet"], ["Ultraviolet", "Ultraviolet"]  ], :color)   %>

<%= f.submit "Continue" %>
<% end %>
